.img1{
  position: relative;

}
.para1{
  position: absolute;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: lighter;
}
/* .head1{
  position: relative;
} */